body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./bg.jpg);


}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 0px 15px grey;
}

main {
    padding: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px black;
    background-color: beige;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Navigation */

.pagination a {
    color: blue;
    font-size: small;
    padding: 2px 20px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.pagination a.active {
    background-color: grey;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

.pagination a:hover:not(.active) {
    border-radius: 5px;
    background-color: grey;
    color: yellow;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0px 0px 15px grey;
    position: fixed;
}
